/************************
* color variables 
************************/

// livedoorNEWS
$ld-blue: #51b8d6;

// 背景
$background-base: #efefef;

// 通常テキスト
$text: #494949;

// リンクテキスト
$link-color: #2859a7;

// 仕切り線
$line: #f3f3f3;

// 公開日や提供元表示など
$pale-text: #9b9b9b;